
.contactoimagen .text-centro__tecnico{
  padding: 20px;
  margin-top: -35%;
  margin-left: 40%;
}
.contactoimagen .text-centro__tecnico h2{
  font-size: 3rem;
    color: white;
    font-weight: 900;
}


@media screen and (min-width: 928px) {
  .contactoimagen .text-centro__tecnico{
    padding: 20px;
    margin-top: -30%;
    margin-left: 40%;
  }
  .contactoimagen .text-centro__tecnico h2{
    font-size: 5.5rem;
      color: white;
      font-weight: 900;

  }
}