.foooter__aipssa{
  bottom: 0;
  background-size: cover;
  background-position:  center center;
  background-color: #0b2343;
  width: 100%;
}


.icon__facebook{
display: flex;
justify-content: center;
align-items: center;
width: 55px;
height: 55px;
line-height: 55px;
bottom: 30px;
background:  #3b5998;
color: #fff;
border-radius: 50px;
text-align: center;
font-size: 38px;
box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
z-index: 100;
cursor: pointer;
margin-top: 20px;
}
.contenedor__redessociales{
  display: flex;   
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.footer__ofertas__title{
  margin-top: 50px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 28px;
}
ul li {
  display: block;
  padding: .2em 0 .2em .5em;
  text-decoration: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}
.li__footer:hover{
  cursor: pointer;
}


@media screen and (min-width: 928px) {
  .foooter__aipssa{
    margin-top: 150px;
  }
}